hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}


label {
    width: 100%;
    margin-top: 20px;
}

input {
    margin-top: 15px;
}

input.invalid {
    background-color: #ffdddd;
}

.hide {
    display: none;
}

.part {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

.jumbotron-edit {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mtb7-17 {
    margin-top: 7px;
    margin-bottom: 17px;
}

.mtb7-27 {
    margin-top: 7px;
    margin-bottom: 27px;
}

.mtb17-7 {
    margin-top: 17px;
    margin-bottom: 7px;
}

.mtb17-7 {
    margin-top: 17px;
    margin-bottom: 7px;
}

.mtb37-7 {
    margin-top: 37px;
    margin-bottom: 7px;
}

.margin-auto {
    margin: auto;
}

.lm {
    margin-left: 10px;
}

.rm15 {
    margin-right: 15px;
}

.footer-sm-page {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.col-table {
    display: table-cell;
    vertical-align: middle;
}

.small-input {
    margin: 0 auto;
    width: 70px;
    height: 35px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.m-top {
    margin-top: 71px;
}

.margin-top-sm {
    margin-top: 15px;
}

.m-left {
    margin-left: 13px;
}

ul {
    list-style-type: disc;
}

.level-1 {
    padding-left: 45px;
}

.level-2 {
    padding-left: 45px;
}

.level-3 {
    padding-left: 45px;
}

.level-4 {
    padding-left: 45px;
}

.input-group-append{
    margin-top:15px
}

.hl-1 {
    margin: 20px 0 7px 0;
    font-weight: bold;
}

.hl-2 {
    margin: 0 0 7px 40px;
}

.hl-3 {
    margin: 0 0 7px 80px;
}

.hl-4 {
    margin: 0 0 7px 120px;
}

.err {
    display: none;
    color: #e34234;
}
